* {
    margin: 0;
    font-family: poppins;
}

/* HEADER DESIGN*/
header {
    /* background: #343741; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: gray;
}

.hero {
    background: #343741;
    height: 110px;
}

.logo {
    margin-left: 30px !important;
}

nav {
    float: right;
    margin-right: 80px;
    margin-top: 35px;
}

ul>li {
    display: inline-block;
}

nav>ul>li>a {
    text-decoration: none;
    margin-left: 20px;
    color: #ffffff;
    font-weight: 200;
}

ul>li>a:hover {
    color: #98e6ea;
    transition: ease-out 0.5s;
}


/* end of HEADER DESIGN*/

/* PORTFOLIO DESIGN*/
main {
    height: 100vh;
}

.contact-wrapper {
    position: relative;
    width: 90%;
    left: 130px;
    top: 150px;
    margin: 0;
}


.contact-map {
    width: 600px;

}

.contact-info {
    position: relative;
    width: 40%;
    top: 30px;
    left: 30px;
}

.contact-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-detail {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}

.float {
    float: left;
}

/* end of PORTFOLIO DESIGN*/

/* FOOTER DESIGN*/
footer {
    height: 100px;
    background: #343741;
    text-align: center;
}

.footer {
    color: #ffffff;
    position: relative;
    top: 45px;
    font-size: 10px;
    font-weight: 100;
}

/* end of FOOTER DESIGN*/